table{
    text-align: center;
    font-size: 1.2em;
    border-style: solid;
}

th{
    padding-right: 0.2em;
    text-align: right;
    border-style: none;
    width: 7em;
    height: 3em;  
}

#operators{
    height: 1em;
    font-size: 0.8em;
    color: rgb(66, 66, 66);
}

td {
    border-style: solid;
    width: 3em;
    height: 3em;
}

td:hover{
    cursor: pointer;
}

